<div class="container color-dark">
  <div class="col">
    <h2>Blog Post </h2> <!-- Add an article pulled from the backend   -->


  </div>
  <div class="col">
      <p> Comments ({{ itemCount }}) Likes {{ likes }} </p>    <!-- paren dobule curly  braces for interlopating in angular 5 -->
    </div>
</div>

<div class="container color-light" [@goals]= "goals.length">
    <div class="col">
      <p class="sm"> Comment on this post  </p>

      <form>
        <input type="text" class ="txt" name="item" placeholder="another comment" [(ngModel)] = "goalText" >
        <p> <input type="submit" class="btn" [value]="btnText" (click)="addItem()" >   <!-- [property binding No {interpaltion needed}] (click events are defined by parens)  -->
          <input type="submit" class="btn" [value]="likeText" (click)="addLike()">  </p>
      </form>
    </div>
    <div class="col">
        <p class="life-container" *ngFor="let goal of goals; let i = index" (click)="removeItem(i)" >  <!-- remove item method defined in home.component.ts --> 
          {{ goal }}
          
        </p>
      </div>
  </div>
